<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yichen.propertymgt.baseinfo.mapper.ICustomerMapper">

	<cache />

	<resultMap id="CustomerMap" type="Customer">
		<id column="CustomerNo" property="customerNo" />
		<result column="TYPENO" property="typeNo" />
		<result column="CNAME" property="cname" />
		<result column="Contact" property="contact" />
		<result column="CardCode" property="cardcode" />
		<result column="Mobile" property="mobile" />
		<result column="Tel" property="telephone" />
		<result column="Fax" property="fax" />
		<result column="QQ" property="qq" />
		<result column="WeiXin" property="wechat" />
		<result column="FeeStartDate" property="feeStartDate" />
		<result column="FeeEndDate" property="feeEndDate" />
		<result column="CStatus" property="cstatus" />
		<result column="Password" property="password" />
	</resultMap>

	<select id="selectCustomerById" resultMap="CustomerMap">
		select * from Customer
		where CustomerNo = #{customerNo} 
	</select>

	<select id="selectListByAll" resultMap="CustomerMap">
		select * from Customer
	</select>
	
     <select id="selectListByAllWithPage" resultMap="CustomerMap">
		select * from Customer limit #{start},#{rows}
	</select>
	
	<resultMap id="CustomerMapByIdWithType" type="Customer" extends="CustomerMap">
		<association property="customertype"
			resultMap="cn.yichen.propertymgt.baseinfo.mapper.ICustomerTypeMapper.CustomerTypeMap">
		</association>
	</resultMap>
	
	<select id="selectCustomerByIdWithType" resultMap="CustomerMapByIdWithType">
	select CustomerNo, c.TypeNo, Cname, Contact, CardCode, Mobile, Tel,Fax,QQ,WeiXin,FeeStartDate,FeeEndDate,Cstatus,Password,ct.TYPENAME
	from Customer c, CustomerType ct
	where CustomerNo = #{customerNo}  and c.typeNo = ct.typeNo
	</select>
	
	<!-- 取得个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
	<select id="selectCountByAll" resultType="int">
		select IFNULL(count(CustomerNo), 0) from Customer
	</select>
</mapper>