<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yichen.propertymgt.baseinfo.mapper.ICustomerTypeMapper">

	<cache />

	<resultMap id="CustomerTypeMap" type="CustomerType">
		<id column="TYPENO" property="typeno" />
		<result column="TYPENAME" property="typename" />
	</resultMap>


     <insert id="create"  keyProperty="typeno"   keyColumn="TYPENO" useGeneratedKeys="true" flushCache="true" >
	   insert into CustomerType (TYPENO, TYPENAME) values(#{typeno}, #{typename})
	  </insert>
  
  
	  <update id="update" flushCache="true">
	   update CustomerType set TYPENAME=#{typename} where TYPENO=#{typeno}
	  </update>
  
	  <delete id="delete" flushCache="true">
	   delete from CustomerType where TYPENO = #{typeno}
	  </delete>

	<select id="selectCustomerTypeById" resultMap="CustomerTypeMap">
		select * from CustomerType
		where TYPENO = #{typeno} 
	</select>

	<select id="selectListByAll" resultMap="CustomerTypeMap">
		select * from CustomerType
	</select>
	
     <select id="selectListByAllWithPage" resultMap="CustomerTypeMap">
		select * from CustomerType limit #{start},#{rows}
	</select>
	
	
	<resultMap id="CustomerTypeMapByIdWithNo" type="CustomerType" extends="CustomerTypeMap">
		<association property="customer"
			resultMap="cn.yichen.propertymgt.baseinfo.mapper.ICustomerMapper.CustomerMap">
		</association>
	</resultMap>
	
	<select id="selectCustomerTypeByIdWithinfo" resultMap="CustomerTypeMapByIdWithNo">
	select ct.TYPENAME,c.*
	from Customer c, CustomerType ct
	where ct.TYPENO = #{typeno}  and ct.typeNo = c.typeNo
	</select>
	
</mapper>