<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yichen.propertymgt.baseinfo.mapper.ICustomerHomeMapper">

<!-- 	<cache /> -->

	<resultMap id="CustomerHomeMap" type="CustomerHome">
		<id column="CHNO" property="chno" />
		<result column="ReceiveDate" property="receivedate" />
		<result column="LiveDate" property="livedate" />
		<result column="FeeStartDate" property="feestartdate" />
		<result column="FeeEndDate" property="feeenddate" />
		<result column="HumanCount" property="humancount" />
		<result column="CHStatus" property="chstatus" />
	</resultMap>

	<resultMap id="CustomerHomeMapByRoomNo" type="CustomerHome" extends="CustomerHomeMap">
		<association property="roomno"
			resultMap="cn.yichen.propertymgt.baseinfo.mapper.IRoomMapper.RoomWithFKResultMap">
		</association>
	</resultMap>
	
	
	<resultMap id="CustomerHomeMapByCustomerNo" type="CustomerHome" extends="CustomerHomeMap">
		<association property="customer"
			resultMap="cn.yichen.propertymgt.baseinfo.mapper.ICustomerMapper.CustomerMap">
		</association>
	</resultMap>
	
	
	<insert id="create"   keyProperty="CHNO"   keyColumn="CHNO" useGeneratedKeys="true" flushCache="true" >
	insert into CustomerHome(CHNO, CustomerNo, RoomNo, LivingTypeNo, ReceiveDate, LiveDate, FeeStartDate,FeeEndDate,HumanCount,CHStatus) values(#{chno}, #{customer.customerNo}, #{roomno.roomno},#{livingtype.typeno}, #{receivedate}, #{livedate}, #{feestartdate}, #{feeenddate},#{humancount},#{chstatus})
	</insert>
	
	<update id="update" flushCache="true">
    update CustomerHome set CustomerNo=#{customer.customerNo}, RoomNo=#{roomno.roomno}, LivingTypeNo=#{livingtype.typeno}, ReceiveDate=#{receivedate}, LiveDate=#{livedate},FeeStartDate=#{feestartdate},FeeEndDate=#{feeenddate},HumanCount=#{humancount},CHStatus=#{chstatus} where CHNO=#{chno}"
    </update>
	
	<update id="modifyStatus" flushCache="true">
    update CustomerHome a,Customer b set CHStatus='迁出'  where a.CustomerNo=#{customer.customerNo} and a.CustomerNo=b.CustomerNo
    </update>
    
    <update id="updateStatus" flushCache="true">
    update CustomerHome a,Customer b  set CHStatus='迁入'  where a.CustomerNo=#{customer.customerNo} and a.CustomerNo=b.CustomerNo
    </update>
    
	<delete id="delete" flushCache="true">
    delete from CustomerHome where CHNO = #{chno}
    </delete>
	
	<select id="selectCustomerHomeByIdWithRoom" resultMap="CustomerHomeMapByRoomNo">
		select a.*,b.*from Room a inner join CustomerHome b on a.RoomNo=b.RoomNo
	</select>
	
	
	<select id="selectCustomerHomeById" resultMap="CustomerHomeMap">
		select * from CustomerHome
		where CHNO = #{chno} 
	</select>

	<select id="selectListByAll" resultMap="CustomerHomeMap">
		select * from CustomerHome
	</select>
	
     <select id="selectListByAllWithPage" resultMap="CustomerHomeMap">
		select * from CustomerHome limit #{start},#{rows}
	</select>

	
	<select id="selectCustomerHomeByCustomerNo" resultMap="CustomerHomeMapByCustomerNo">
	select ct.*,c.*
	from Customer c, CustomerHome ct
	where ct.CustomerNo = #{customer.customerNo}  and ct.CustomerNo = c.CustomerNo
	
	</select>
	
	
	<resultMap id="CustomerHomeMapByRoomFeeNo" type="CustomerHome" extends="CustomerHomeMap">
		<association property="roomfee"
			resultMap="cn.yichen.propertymgt.feeinfo.mapper.IRoomFeeMapper.RoomFeeMap">
		</association>
	</resultMap>
	
	<select id="selectCustomerHomeByIdWithRoomFee" resultMap="CustomerHomeMapByRoomFeeNo">
	select ct.*,RoomFeeNo, FeeYEAR, FeeMonth,FeeItemNo, SPay, Apay, Derate,FeeStatus
	from CustomerHome ct,RoomFee r
	where ct.RoomNo = #{roomno.roomno}  and ct.RoomNo = r.RoomNo
	</select>
	
	  <!-- 取得房间的个数 -->
	<select id="selectCountByAll" resultType="int">
	 select IFNULL(count(CHNO), 0) from CustomerHome
	</select>
	
	<select id="selectListByAllWithRoom" resultMap="CustomerHomeMapByRoomFeeNo">
	select ct.*,r.*
	from CustomerHome ct,Room r
	where ct.RoomNo = #{roomno.roomno}  and ct.RoomNo = r.RoomNo
	</select>
	
	 <select id="selectlivingStatus" resultMap="CustomerHomeMap" >
	    select distinct(CHStatus) from CustomerHome
	 </select>
	

	 <select id="selectListByAllwithFK" resultMap="CustomerHomeMapByRoomNo" >
	    select a.*,b.*,c.*,d.*,e.*,f.* from Room a inner join HouseType b on a.HouseTypeNo=b.TypeNo inner join Building c on a.BuildingNo=c.BuildingNo inner join Area d on c.AreaNo=d.AREANO inner join BuildingType e on c.BuildingTypeNo=e.TYPENO inner join CustomerHome f on a.RoomNo=f.RoomNo
	 </select>
	
    <!-- 根据序号取得迁居状态 -->
   <select id="selectStatusByNO" resultMap="CustomerHomeMapByCustomerNo">
    select CHStatus from CustomerHome where CustomerNo=#{customer.customerNo}
   </select>
	
</mapper>