<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yichen.propertymgt.baseinfo.mapper.ICustomerMapper">

<!-- 	<cache /> -->

	<resultMap id="CustomerMap" type="Customer">
		<id column="CustomerNo" property="customerNo" />
		<result column="CNAME" property="cname" />
		<result column="Contact" property="contact" />
		<result column="CardCode" property="cardcode" />
		<result column="Mobile" property="mobile" />
		<result column="FeeStartDate" property="feeStartDate" />
		<result column="FeeEndDate" property="feeEndDate" />
		<result column="CStatus" property="cstatus" />
	</resultMap>

    <insert id="create"  keyProperty="customerNo"   keyColumn="CustomerNo" useGeneratedKeys="true" flushCache="true" >
   insert into Customer (CustomerNo,Cname, Contact, CardCode,Mobile, FeeStartDate,FeeEndDate,Cstatus) values(#{customerNo}, #{cname},#{contact}, #{cardcode}, #{mobile}, #{feeStartDate},#{feeEndDate},#{cstatus})
  
  </insert>
  
  <update id="update" flushCache="true">
   update Customer set Cname=#{cname}, Contact=#{contact}, CardCode=#{cardcode}, Mobile=#{mobile}, FeeStartDate=#{feeStartDate},FeeEndDate=#{feeEndDate},Cstatus=#{cstatus} where CustomerNo=#{customerNo}
  </update>
  
  <delete id="delete" flushCache="true">
   delete from Customer where CustomerNo = #{customerNo}
  </delete>
  
	<select id="selectCustomerById" resultMap="CustomerMap">
		select * from Customer
		where CustomerNo = #{customerNo} 
	</select>

	<select id="selectListByAll" resultMap="CustomerMap">
		select * from Customer
	</select>
	
     <select id="selectListByAllWithPage" resultMap="CustomerMap">
		select * from Customer limit #{start},#{rows}
	</select>
	
	<resultMap id="CustomerMapByIdWithType" type="Customer" extends="CustomerMap">
		<association property="customertype"
			resultMap="cn.yichen.propertymgt.baseinfo.mapper.ICustomerTypeMapper.CustomerTypeMap">
		</association>
	</resultMap>
	
	<resultMap id="CustomerMapByIdWithTypeandHome" type="Customer" extends="CustomerMap">
		<association property="customertype"
			resultMap="cn.yichen.propertymgt.baseinfo.mapper.ICustomerTypeMapper.CustomerTypeMap">
		</association>
		<association property="customerhome"
			resultMap="cn.yichen.propertymgt.baseinfo.mapper.ICustomerHomeMapper.CustomerHomeMapByRoomNo">
		</association>
	</resultMap>
	
	<select id="selectCustomerByIdWithType" resultMap="CustomerMapByIdWithType">
	select CustomerNo, c.TypeNo, Cname, Contact, CardCode, Mobile, FeeStartDate,FeeEndDate,Cstatus,ct.TYPENAME
	from Customer c, CustomerType ct
	where CustomerNo = #{customerNo}  and c.typeNo = ct.typeNo
	</select>
	
	<select id="selectCustomerByAllWithType" resultMap="CustomerMapByIdWithType">
	select CustomerNo, c.TypeNo, Cname, Contact, CardCode, Mobile, FeeStartDate,FeeEndDate,Cstatus,ct.TYPENAME
	from Customer c, CustomerType ct
	where c.typeNo = ct.typeNo
	</select>
	
	<select id="selectCustomerByAllAndTypeWithPage" resultMap="CustomerMapByIdWithType">
	select CustomerNo, c.TypeNo, Cname, Contact, CardCode, Mobile,FeeStartDate,FeeEndDate,Cstatus,ct.TYPENAME
	from Customer c, CustomerType ct
	where c.typeNo = ct.typeNo limit #{start},#{rows}
	</select>


	<!-- 客户取得客户类型、房间等信息 -->
	<select id="selectCustomerByAllAndFk" resultMap="CustomerMapByIdWithTypeandHome">
	 select a.*,b.*,c.*,d.*,e.*,f.*,g.*,h.* from Room a inner join HouseType b on a.HouseTypeNo=b.TypeNo inner join Building c on a.BuildingNo=c.BuildingNo inner join Area d on c.AreaNo=d.AREANO inner join BuildingType e on c.BuildingTypeNo=e.TYPENO inner join CustomerHome f on f.RoomNo = a.RoomNo inner join Customer g on f.CustomerNo = g.CustomerNo inner join CustomerType h on h.typeNo = g.typeNo		
	</select>
	
	<!-- 客户取得客户类型、房间等信息 -->
	<select id="selectCustomerByAllAndFkWithPage" resultMap="CustomerMapByIdWithTypeandHome">
	 select a.*,b.*,c.*,d.*,e.*,f.*,g.*,h.* from Room a inner join HouseType b on a.HouseTypeNo=b.TypeNo inner join Building c on a.BuildingNo=c.BuildingNo inner join Area d on c.AreaNo=d.AREANO inner join BuildingType e on c.BuildingTypeNo=e.TYPENO inner join CustomerHome f on f.RoomNo = a.RoomNo inner join Customer g on f.CustomerNo = g.CustomerNo inner join CustomerType h on h.typeNo = g.typeNo limit #{start},#{rows}		
	</select>


	<!-- 取得个数，使用IFNULL函数判断count函数结果是否为null, 为null返回0 -->
	<select id="selectCountByAll" resultType="int">
		select IFNULL(count(CustomerNo), 0) from Customer
	</select>
	
	
	 <!-- 根据综合检索条件取得客户列表，取得客户类型，分页模式 -->
	 <select id="selectListByConditionandTypeWithPage" resultMap="CustomerMapByIdWithType">
	 select a.*,b.* from Customer a inner join CustomerType b on a.TYPENO=b.TYPENO
	  <where>
     <if test="CustomerName!=null and CustomerName!=''">
      and a.CNAME=#{CustomerName}
     </if>
     <if test="typeno!=null and typeno!=''  and typeno!='0' and typeno!=0 ">
     and b.TYPENAME = (select TYPENAME from CustomerType t where t.TYPENO=#{typeno})
     </if>
     <if test="feeStartDate!=null">
     and a.FeeStartDate &gt;=#{feeStartDate}
     </if>
     <if test="feeEndDate!=null">
     and a.FeeEndDate &lt;=#{feeEndDate}
     </if>
  </where>
   limit #{start},#{rows}
  </select>
  <!-- 根据综合检索条件取得客户个数-->
  <select id="selectCountByCondition" resultType="int">
  select IFNULL(count(CustomerNo), 0) from Customer a inner join CustomerType b on a.TYPENO=b.TYPENO
  <where>
     <if test="CustomerName!=null and CustomerName!=''">
      and CNAME=#{CustomerName}
     </if>
     <if test="typeno!=null and typeno!='' and typeno!='0' and typeno!=0">
     and b.TYPENAME in (select TYPENAME from CustomerType where TYPENO=#{typeno})
     </if>
     <if test="feeStartDate!=null">
     and FeeStartDate &gt;=#{feeStartDate}
     </if>
     <if test="feeEndDate!=null">
     and FeeEndDate &lt;=#{feeEndDate}
     </if>
  </where>
   
  </select>
  
  <!-- 根据姓名取得员工的人数 -->
   <select id="selectCountByName" resultType="int">
    select IFNULL(count(CNAME), 0) from Customer
    <where>
    	<if test="cname!=null and cname!=''">
    	and CNAME=#{cname}
    	</if>
    </where>
   </select>
  
  
  <!-- 根据综合检索条件取得客户列表，取得客户类型，分页模式 -->
  <!--areanname, departmentcode, roomno, livedate,roomstatus,chstatus  -->
  <select id="selectListByConditionandFKWithPage" resultMap="CustomerMapByIdWithTypeandHome">
      select a.*,b.*,c.*,d.*,e.*,f.*,g.*,h.* 
      from Room a inner join HouseType b on a.HouseTypeNo=b.TypeNo 
	      inner join Building c on a.BuildingNo=c.BuildingNo 
	      inner join Area d on c.AreaNo=d.AREANO 
	      inner join BuildingType e on c.BuildingTypeNo=e.TYPENO 
	      inner join CustomerHome f on f.RoomNo = a.RoomNo 
	      inner join Customer g on f.CustomerNo = g.CustomerNo 
	      inner join CustomerType h on h.typeNo = g.typeNo
	   <where>
	     <if test="areanname!=null and areanname!=''">
	      and d.AREANAME=#{areanname}
	     </if>
	     <if test="departmentcode!=null and departmentcode!=''">
	     and a.DepartmentCode = (select Distinct(DepartmentCode) from Room where DepartmentCode=#{departmentcode})
	     </if>
	     <if test="roomno!=null and roomno!=''">
	      and a.RoomNo=#{roomno}
	     </if>
	     <if test="livedate!=null">
	     and f.LiveDate &gt;=#{livedate}
	     </if>
	     <if test="roomstatus!=null and roomstatus!=''">
	      and a.RoomStatus=#{roomstatus}
	     </if>
	      <if test="chstatus!=null and chstatus!=''">
	      and f.CHStatus=#{chstatus}
	     </if>
	  </where>
   limit #{start},#{rows}
  </select>
  
  
    <!-- 根据综合检索条件取得客户个数-->
  <select id="selectCountByConditionWithFK" resultType="int">
  select IFNULL(count(g.CustomerNo), 0) 
  from Room a inner join HouseType b on a.HouseTypeNo=b.TypeNo 
  inner join Building c on a.BuildingNo=c.BuildingNo 
  inner join Area d on c.AreaNo=d.AREANO 
  inner join BuildingType e on c.BuildingTypeNo=e.TYPENO 
  inner join CustomerHome f on f.RoomNo = a.RoomNo 
  inner join Customer g on f.CustomerNo = g.CustomerNo 
  inner join CustomerType h on h.typeNo = g.typeNo
  <where>
     <if test="areanname!=null and areanname!=''">
	      and d.AREANAME=#{areanname}
	     </if>
	     <if test="departmentcode!=null and departmentcode!=''">
	     and a.DepartmentCode = (select Distinct(DepartmentCode) from Room where DepartmentCode=#{departmentcode})
	     </if>
	     <if test="roomno!=null and roomno!=''">
	      and a.RoomNo=#{roomno}
	     </if>
	     <if test="livedate!=null">
	     and f.LiveDate &gt;=#{livedate}
	     </if>
	     <if test="roomstatus!=null and roomstatus!=''">
	      and a.RoomStatus=#{roomstatus}
	     </if>
	      <if test="chstatus!=null and chstatus!=''">
	      and f.CHStatus=#{chstatus}
	     </if>
  </where>
   
  </select> 
  
  
</mapper>