<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yichen.propertymgt.baseinfo.mapper.IRoomMapper">
	
	<cache />
	
	<resultMap id="RoomMap" type="Room">
		<id column ="ROOMNO" property="roomno"/>
		<result column="HouseTypeNo" property="housetypeno" />	
		<result column="BuildingNo" property="buildingno" />
		<result column="DepartmentCode" property="departmentcode" />
		<result column="Floor" property="floor" />
		<result column="RoomCode" property="roomcode" />
		<result column="BuildingArea" property="buildingarea" />
		<result column="FeeArea" property="feearea" />
		<result column="RoomStatus" property="roomstatus" />
		<result column="RoomType" property="roomtype" />
	</resultMap>
	
	<resultMap id="RomByBuildingNo" type="Building" extends="RoomBuildingMap">
		<association property="room" 
		resultMap="cn.yichen.propertymgt.baseinfo.mapper.IRoomMapper.RoomMap">
		</association>
	</resultMap>
	
	
	<select id="selectListByAll" resultMap="RoomMap">
		select * from Room
	</select>
	
	<select id="selectListByAllWithPage" resultMap="RoomMap">
		select * from Room limit #{start},#{rows}
	</select>
	
	<select id="selectByNo" resultMap="RoomMap">
		select *from Room where ROOMNO=#{roomno}
	</select>
	
	
	<select id="selectRomByBuildingNo" resultMap="RomByBuildingNo">
		select ct.*,c* from Room c inner buildingno Building ct
		where ct.BuildingNo = #{buildingno} and ct.buildingno = c.buildingno
	</select>
	


</mapper>


